
<div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <h1 class="text-center text-white">スレッド一覧</h1>
        
        <%= link_to '一覧へ戻る', threads_path, class:'btn btn-danger' %>
        
            <div class="well">
                <%= @thre.title %>
                <%= @thre.created_at %>
                <%= @thre.id %>
            </div>
            
            <div id="thre">
            <%= render partial: 'res', locals: {thre: @thre} %>
            </div>
    </div>
  </div>
 </div>