<!DOCTYPE html>
<html>
  <head>
    <title>Fivech</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <%= link_to 'ログアウト', logout_path, method: :delete, data: {confirm: "ログアウトしますか？"} %>
    <% end %>
      <%= yield %>
    
  </body>
  
    <script>　<!--メッセージバーの表示5秒-->
  $(function(){
    $(".alert").fadeOut(5000);
  });

  </script>
  
  
</html>
